/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-------------------------------------
Style
-------------------------------------*/

html,
body {
    text-align: center;
    font-size: 24px;
    min-height: 100%;
    height: 100%;
    color: #000066;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.clock{
    height: 250px;
    width: 250px;
    margin: 20px auto;
    border: 2px solid  #000066;
    border-radius: 100%;
    cursor: pointer;
    background-color: #fff;
    color: #003366;
    padding-top: 75px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.clock:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 2;
}

.clock .complite {
    content: '';
    position: absolute;
    background: yellow;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 50%;
}

h1{
    font-size: 60px;
    display: block;
    margin: 30px 0;
}

.minutes {
    display: inline-block;
    margin: 20px;
}

.timerTitle {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.button {
    height: 20px;
    width: 25px;
    font-size: 18px;
    color: #003366;
    border: 0;
    background-color: transparent;
    display: inline-block;
}

.breakLength,
.sessionLength {
    display: inline-block;
}

button {
    outline: none;
}

button:hover{
    cursor: pointer;
}

.title,
.timer {
    font-size: 50px;
}
